{% extends '::base.html.twig' %}
{% block body %}
<form action="{{ path('carrera_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <ul>
    	<li>
        	<button type="submit" class="pure-button pure-button-primary">Grabar</button>
        </li>
    </ul>
</form>
{% endblock %}
