{% extends '::base.html.twig' %}
{% block body %}
<table class="pure-table">
     <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
     </thead>
     <tbody>
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nombre }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('carrera_edit', { 'id': entity.id }) }}" class="pure-button pure-button-primary">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
