{% extends '::base.html.twig' %}
{% block body %}
<form action="{{ path('alumno_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Grabar</button>
    </p>
</form>
{% endblock %}
